.question-block-style {
    background-color: white;
    border: 0px solid white;
    border-radius: 10px;
    padding: 20px;
}

.background-color {
    background-color: black !important;
}

.active-btn {
    background-color: aqua !important;
}