:root {
    --background-color : #2d302f;
    --textbox-background-color : #4d504b;
    --block-bg-color : #5b6057;
    --block-highlings-color : #747a6f;
    --block-shadow-color : #40423e;
    --active-border-color : #ffc793;
    --active-color : #ffba7a;
    --active-color-shadow : #815c39;
    --danger-color : #ff6a6a;
    --danger-color-shadow : #a04d4d;
    --success-color-shadow: #528162;
    --success-color: #78c091;
    --border-color:#747a6f;
    --main-text-color: #FFFFFF;
    --minor-btn-color: #747a6f;
}

.body-style {
    padding: 30px;
    min-height: 100vh;
    background-color: var(--background-color);
    color: white;
}

.block-style {
    background-color: var(--block-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 8px var(--block-shadow-color);
}

.answer-style {
    color: black;
    border-radius: 10px;
    background-color: var(--block-highlings-color);
    padding: 10px;
    box-shadow: 0px 5px var(--block-shadow-color);
}

.selected-answer-style {
    color: black;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--active-color);
    box-shadow: 0px 5px var(--active-color-shadow);
}

.wrong-answer-label-style {
    color: black;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--danger-color);
    box-shadow: 0px 5px var(--danger-color-shadow);    
}

.correct-answer-label-style {
    color: black;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--success-color);
    box-shadow: 0px 5px var(--success-color-shadow);    
}

/* BUTTONS */
.active-btn {
    background-color: var(--active-color) !important;
    box-shadow: 0px 5px var(--active-color-shadow);
}

.active-btn:focus {
    transform: translateY(5px);
    box-shadow: 0px 0px var(--active-color-shadow);
}

.danger-btn {
    background-color: var(--danger-color) !important;
    box-shadow: 0px 5px var(--danger-color-shadow);
}

.danger-btn:focus {
    transform: translateY(5px);
    box-shadow: 0px 0px var(--danger-color-shadow);
}


.minor-btn {
    background-color: var(--minor-btn-color) !important;
    border: 1px solid var(--border-color) !important;
    padding: 5px !important;
    min-width: 32px;
    box-shadow: 0px 5px var(--block-shadow-color) !important;
}

.minor-btn:focus {
    transform: translateY(5px);
    box-shadow: 0px 0px var(--active-color-shadow);
}


.styless-link{
    text-decoration: none;
    color: white;
}

/* NAVBAR */
.custom-navbar{
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--block-shadow-color);
}

.navbar-group-style {
    display: flex;
}

/* INPUTS */
.form-inputs input[type=text] {
    color: var(--main-text-color);
    background-color: var(--textbox-background-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 5px;
}

.form-inputs input[type=text]:focus {
    border-color: var(--active-color) !important;
}

.form-inputs input[type="checkbox"]{
    background-color: var(--background-color);
    border: var(--border-color);
    padding: 5px !important;
    border-radius: 5px;
}

.wrong-input {
    border-color: var(--danger-color) !important;
}

/* QUIZ EDITOR */
.edit-option-style {
    display: flex;
    align-items: center;
}

.option-checkbox {
    margin-right: 10px;
}

.option-textbox {
    flex: 1;
}

.correct-answer-select {
    height: 24px;
    width: 24px;
    margin-top: 3px;
    border-radius: 5px;
    background-color: var(--success-color);
    box-shadow: 0px 2px var(--success-color-shadow);    
}

.default-answer-select {
    height: 24px;
    width: 24px;
    border-radius: 5px;
    background-color: var(--danger-color);
    box-shadow: 0px 5px var(--danger-color-shadow);    

}

/* NOTIFICATION */
.error-notification-block-style {
    background-color: var(--danger-color);
    box-shadow: 0px 5px var(--danger-color-shadow);
    border-radius: 10px;
    padding: 10px;
    color: var(--background-color);
}

.default-notification-block-style {
    background-color: var(--active-color);
    box-shadow: 0px 5px var(--active-color-shadow);
    border: 1px solid var(--active-border-color);
    border-radius: 10px;
    padding: 10px;
    color: var(--background-color);
}

/* ICONS */
.icon-img {
    height: 24px;
    width: 24px;
}

/* SEARCH BOX */
.search-box {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search-text-input {
    flex: 1;
    width: 100%;

    color: var(--main-text-color);
    background-color: var(--textbox-background-color);
    border: 2px solid var(--border-color);
    border-radius: 7px;
    padding: 5px;

    height: 38px;
    margin-bottom: 2px;

    box-shadow: 0px 5px var(--minor-btn-color);  
}

.search-text-input:focus {
    border-color: var(--active-color) !important;
}

.search-btn {
    margin-left: 5px;
    width: 38px;
}

